.NavBhosdiBar {
    background-color: white;
    height: "50px";
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

/* global selector  */
* {
    margin: 0px;
}

a {
    background-color: grey;
    list-style: none;
    color: white;
    padding: 4px;
    border-radius: 6px;

}

.container {
    background-color: grey;
    padding: 5px;
    height: 100vh;

    /* vh  ==> Viewport Height 
      vw ==> Viewport Width
    */

}

#weight-guide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}